# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

# Indentation for JS/TS files
[*.{json,js,ts}]
indent_style = space
indent_size = 2

# Indentation for Markdown files
[*.{markdown,md}]
indent_style = space
indent_size = 2

# Indentation for Toml and Yaml files
[*.{toml,yaml}]
indent_style = space
indent_size = 2
